<div class="body">
    <header>
        <img id="imagem" src="../assets/images/logo.png" alt="logo"> 
    </header>

    <main class="container">
        <h2>Acesse</h2>
        <div class="link">
            Ou
            <a routerLink="/signup">
                crie sua conta
            </a>
        </div>

        <form [formGroup]="dataLogin" (ngSubmit)="onSubmit()">
            <div class="input-field">
                <div class="container1">
                    <input type="email" formControlName="email" id="email" placeholder="E-mail">
                </div>
            </div>

            <div class="input-field">
                <div class="container1">
                    <input type="password" formControlName="password" id="password" placeholder="Senha">
                </div>
            </div>

            <div class="recuperacao">
                <a routerLink="/forgotpassword">
                    Esqueceu sua senha?
                </a>       
            </div>
            
            <button id="login" type="submit"> LOGIN </button>
        </form> 
    </main>
</div>
