<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SeuInvestimento</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
</head>

<body>
    <header>
            <img id=imagem src="../assets/images/logo.png" alt="logo"> 
    </header>

    <main class="container">
        <h2>Acesse</h2>
        <div class="link">
            Ou
            <a routerLink ="/signup">
                crie sua conta
            </a>
        </div>

        <form action="">
            <div class="input-field">
                <div class="container">
                    <input type="email" name="email" id="email"
                    placeholder="E-mail:">
                </div>
            </div>

            <div class="input-field">
                <div class="container">
                    <input type="password" name="password" id="password"
                    placeholder="Senha:">
                </div>
            </div>

            <div class="recuperacao">
                <a routerLink ="/forgotpassword">
                    Esqueceu sua senha?
                </a>
                    
            </div>
            <button type="submit"> LOGIN </button>
        </form> 
    </main>
</body>
</html>
