<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termos e Condições - SeuInvestimento</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
</head>
<body>
    <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam veniam non dicta aperiam repudiandae cupiditate architecto unde eum iusto enim eos magnam, excepturi veritatis? Totam, eligendi. Aliquid quibusdam commodi modi.</h2>
</body>
</html>