
    <body>
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="investment.component.scss">
    <div class="vizualizados">
      <div class="cotation">
        <div class="titulo-cotacao">
          <h2>Cotação</h2>
          <p class="valor">R$100,00</p>
        </div>
      </div>

      <div class="dy">
        <div class="titulo-dy">
          <h2>N do Titulo - DY</h2>
          <p class="valor">12.20%</p>
        </div>
      </div>

      <div class="liquidez">
        <div class="titulo-liquidez">
          <h2>Liquidez diária</h2>
          <p class="valor">R$10,30</p>
        </div>
      </div>

      <div class="variacao">
        <div class="titulo-variacao">
          <h2>Variação (12 meses)</h2>
          <p class="valor">21.17%</p>
        </div>
      </div>
    </div>
      
      <div class="container">
        <ul class="acoes-lista">
          <li>
            <img src="amazon-icon-1 1.svg" alt="Amazon Logo">
            <span class="acao-nome">Amazon</span>
            <div class="acoes-info">
              <span class="acao-preco">R$3,256.56</span>
              <span class="acao-variacao variacao-negativa">-0.53%</span>
            </div>
          </li>
          <li>
            <img src="coca-cola-6 1.svg" alt="Coca-Cola Logo">
            <span class="acao-nome">Coca-Cola</span>
            <div class="acoes-info">
              <span class="acao-preco">R$55.21</span>
              <span class="acao-variacao variacao-positiva">+0.12%</span>
            </div>
          </li>
          <li>
            <img src="bmw 1.svg" alt="BMW Logo">
            <span class="acao-nome">BMW</span>
            <div class="acoes-info">
              <span class="acao-preco">R$87,90</span>
              <span class="acao-variacao variacao-negativa">-1.25%</span>
            </div>
          </li>
          <li>
            <img src="microsoft 1.svg" alt="Microsoft Logo">
            <span class="acao-nome">Microsoft</span>
            <div class="acoes-info">
              <span class="acao-preco">R$325.40</span>
              <span class="acao-variacao variacao-positiva">+0.75%</span>
            </div>
          </li>
          <li>
            <img src="ups 1.svg" alt="UPS Logo">
            <span class="acao-nome">UPS</span>
            <div class="acoes-info">
              <span class="acao-preco">R$168.67</span>
              <span class="acao-variacao variacao-negativa">-0.88%</span>
            </div>
          </li>
          <li>
            <img src="mastercard-2 1.svg" alt="Mastercard Logo">
            <span class="acao-nome">Mastercard</span>
            <div class="acoes-info">
              <span class="acao-preco">R$345.89</span>
              <span class="acao-variacao variacao-positiva">+1.20%</span>
            </div>
          </li>
        </ul>
      </div>
      
    </body>