body{
  height: 100vh;
  background-color: var(--secondary_color);
  display: flex;
  flex-direction: column;
}

button{
  border-radius: 8px;
  background: var(--secondary_color, #162C63);

  display: flex;
  align-items: center;
  gap: 10px;

  height: 3em;
  padding: 16px 20px;

  width: 95%;
  
  color: var(--black_font_color, #F2F4F5);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  &:hover{
      cursor: pointer;

      background-color: var(--primary_color);

      color: var(--secondary_color)
  }
}

.vector{
  fill: #F2F4F5;
}

.stroke{
  stroke: #F2F4F5;
}

.vector_hover{
  fill: #162C63;
}

.stroke_hover{
  stroke: #162C63;
}